<td>
    <a class="addressLink" id="{{id}}" href="#">{{id}} {{address.street}}</a>
</td>
<td>
    {{address.houseNumber}}
</td>
<td>
    {{address.district}}
</td>
<td>
    {{address.city.name}}
</td>
<td>
    {{address.city.state}}
</td>
<td>
    {{address.zip}}
</td>
<td>
    {{point.x}}
</td>
<td>
    {{point.y}}
</td>
